html {
    scroll-behavior: smooth;
  }

.header{
    background-color: black;
    background-image: 
    radial-gradient(circle at 10% 20%, white 1px, transparent 1px),
    radial-gradient(circle at 40% 30%, white 1px, transparent 1px),
    radial-gradient(circle at 20% 15%, white 2px, transparent 2px),
    radial-gradient(circle at 70% 10%, white 1px, transparent 1px),
    radial-gradient(circle at 80% 80%, white 1px, transparent 1px),
    radial-gradient(circle at 20% 60%, white 1px, transparent 1px),
    radial-gradient(circle at 30% 35%, white 1px, transparent 1px),
    radial-gradient(circle at 30% 65%, white 1px, transparent 1px),
    radial-gradient(circle at 15% 75%, white 1px, transparent 1px),
        radial-gradient(circle at 25% 5%, white 2px, transparent 2px),
        radial-gradient(circle at 45% 45%, white 1px, transparent 1px),
        radial-gradient(circle at 55% 15%, white 2px, transparent 2px),
        radial-gradient(circle at 65% 65%, white 1px, transparent 1px),
        radial-gradient(circle at 35% 85%, white 2px, transparent 2px),
        radial-gradient(circle at 75% 35%, white 1px, transparent 1px);

    height: 100vh;  /* Takes up the full viewport height */
    width: 98vw;   /* Takes up the full viewport width */
    display: flex;
    justify-content: center; /* Horizontally aligns child items in the center */
    align-items: center;     /* Vertically aligns child items in the center */
}

.header-text{
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

/* Base styles for task containers */
.firstTask, .secondTask, #displayLists, #editLists, #deleteListSection {
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Individual styling */
.firstTask {
    background-color: #e7f7fe;
}

.secondTask {
    background-color: #fef7e7;
}

#displayLists {
    background-color: #e7fee8;
}

#editLists {
    background-color: #fde7fd;
}

#deleteListSection {
    background-color: #fff0f0;
}

/* Style adjustments for forms and inputs */
form {
    margin-top: 15px;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

