html {
    scroll-behavior: smooth;
  }

.header{
    background-color: black;
    background-image: 
    radial-gradient(circle at 10% 20%, white 1px, transparent 1px),
    radial-gradient(circle at 40% 30%, white 1px, transparent 1px),
    radial-gradient(circle at 20% 15%, white 2px, transparent 2px),
    radial-gradient(circle at 70% 10%, white 1px, transparent 1px),
    radial-gradient(circle at 80% 80%, white 1px, transparent 1px),
    radial-gradient(circle at 20% 60%, white 1px, transparent 1px),
    radial-gradient(circle at 30% 35%, white 1px, transparent 1px),
    radial-gradient(circle at 30% 65%, white 1px, transparent 1px),
    radial-gradient(circle at 15% 75%, white 1px, transparent 1px),
        radial-gradient(circle at 25% 5%, white 2px, transparent 2px),
        radial-gradient(circle at 45% 45%, white 1px, transparent 1px),
        radial-gradient(circle at 55% 15%, white 2px, transparent 2px),
        radial-gradient(circle at 65% 65%, white 1px, transparent 1px),
        radial-gradient(circle at 35% 85%, white 2px, transparent 2px),
        radial-gradient(circle at 75% 35%, white 1px, transparent 1px);

    height: 100vh;  /* Takes up the full viewport height */
    width: 98vw;   /* Takes up the full viewport width */
    display: flex;
    justify-content: center; /* Horizontally aligns child items in the center */
    align-items: center;     /* Vertically aligns child items in the center */
}

.header-text{
    color: white;
}

body {
    font-family: Arial, sans-serif;
}

