.update-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.update-form input,
.update-form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.update-form input:disabled {
    background-color: #f3f3f3;
    color: #ccc;
    cursor: not-allowed;
}

.update-form button {
    background-color: #4CAF50; /* Green background */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.update-form button:hover:not(:disabled) {
    background-color: #45a049; /* Slightly darker green on hover */
}


.login-container{
    width:100%;
    max-width: 400px;
    border-radius: 25px;
    margin: 5rem auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.login-title{
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 35px;
}

.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.login-form input{
    background-color:rgba(184, 158, 169, 0.075);
    padding: 0.25rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
}

.login-form button{
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.login-form button:hover{
    background-color: black;
    color: white;
    transition: all ease-in-out 0.25s;
    
}

.login-message{
    margin-top: 1rem;
    text-align: center;
    color: red;
}

a{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}