.users-table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
}

th, td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr {
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 10px; 
}

th {
    background-color: #e0e0e0;
    color: black;
    font-weight: bold;
}

